body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f8f8f8;
  color: #333;
}

h1 {
  color: #5A189A;
  font-size: 36px;
}

h2 {
  color: #333;
  margin-top: 30px;
  font-size: 28px;
}

h3 {
  margin-top: 20px;
  font-size: 22px;
}

p, ul {
  font-size: 18px;
  line-height: 1.7;
}

p.intro-text {
  font-size: 22px;
  font-weight: bold;
  color: #222;
}

img {
  margin-top: 20px;
  border: 2px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  display: block;
  margin: 20px auto;
  border: 2px solid #ccc;
}


ul {
  line-height: 1.6;
}
